.bg-color-main {
    background-color: #15093e;
}

.skill-set-box {
    border: 2px solid blue;
    background-color: #2e1b68;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.skill-set-box:hover {
    transform: scale(1.1);
}

.bg-color-primary {
    background-color: #2e1b68;
}

.title span::after {
    content: "MERN STACK DEVELOPER";
    animation: words 6s infinite;
}

@keyframes words {

    0%,
    33% {
        content: 'MERN STACK DEVELOPER';
        color: #F5B027;
    }

    34%,
    66% {
        content: "REACT-JS DEVELOPER";
        color: #EF9F92;
    }

    67%,
    100% {
        content: "EXPRESS-JS DEVELOPER";
        color: #8A2BE2;
    }
}

.three-icon {
    display: none;
}

.display-none {
    display: flex;
    gap: 71px;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
}

@media screen and (max-width: 426px) {
    .three-icon {
        display: block !important;
    }

    .display-none {
        display: none;
    }

    .non-hide-sm {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.profile-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
}